.root {
    -fx-font-family: "Press Start 2P";
    -fx-background-color: #1e1e2e;
}

.menu > .label, .menu-item > .label{
    -fx-text-fill: black;
    -fx-fill: black;
}

.menuOptions{
    -fx-text-fill: black;
}

.infoMenu {
    -fx-alignment: center;
    -fx-spacing: 180px;
    -fx-font-size: 20px;
    -fx-max-height: 200px;
}

.gameModal {
    -fx-alignment: top-center;
    -fx-spacing: 50px;
    -fx-padding: 10px;
    -fx-fill-width: true;
}

.infoMenuVertical {
    -fx-font-size: 20px;
    -fx-alignment: top-center;
    -fx-fill-width: true;
    -fx-spacing: 40px;
    -fx-padding: 40 0 0 0;
}

.image {
    -fx-max-height: 180px;
}

.label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-font-family: "Arial";
}

.gameVBox{
    -fx-content-display: center;
}

.grid_board {
    -fx-background-color: #45475a;
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-alignment: center;
}

.grid_cell {
    -fx-border-color: #1e1e2e;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #45475a;
    -fx-spacing: 1px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-style: none;
}

.button:hover {
    -fx-background-color: #5c5f7a;
}

.button:disabled {
    -fx-background-color: #1e1e2e;
}

.gameDialog {
    -fx-alignment: center;
    -fx-translate-y: 25px;
}

.acrylic-background {
    -fx-background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente */
}


.gameDialog > .label {
    -fx-font-size: 20px;
    -fx-padding: 8px;
    -fx-background-color: rgba(0, 0, 0, 0.45);
}

.infoBox {
    -fx-background-color: rgba(30, 30, 46, 0.4);
    -fx-max-height: 500px;
    -fx-max-width: 400px;
    -fx-translate-y: 40px;
    -fx-border-radius: 15px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}

.infoBox > .title{
    -fx-font-size: 20px;
}
.infoBox > .infoText {
    -fx-font-size: 10px;
    -fx-line-spacing: 6px;
    -fx-text-alignment: justify;
    -fx-text-fill: #b5b6cb;
    -fx-padding: 10;
}

.infoBox > .button {
    -fx-padding: 10px;
    -fx-font-size: 10px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-pref-width: 120px;
    -fx-background-color: #89b4fa;
}

.infoBox > .button:pressed {
    -fx-background-color: #547fc4;
}