.root {
    -fx-alignment: center;
    -fx-spacing: 5px;
    -fx-font-family: "Press Start 2P";
    -fx-background-color: #1e1e2e;
}

.title {
    -fx-font-size: 25px;
    -fx-text-fill: #cdd6f4;
    /*-fx-effect: dropshadow(gaussian, rgba(205, 214, 244, 0.63), 1, 1, 1, 1);*/
}

.label {
    -fx-text-fill: #cdd6f4;
}

.button {
    -fx-font-size: 16px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: red;
    -fx-pref-width: 120px;
}

.subText {
    -fx-padding: 0 0 15px 0;
    -fx-background-insets: 0 0 15px 0;
    -fx-border-insets: 0 0 15px 0;
}

.easyButton {
    -fx-background-color: #89dceb;
}

.easyButton:pressed {
    -fx-background-color: #4d95a2;
}

.mediumButton {
    -fx-background-color: #fab387;
}

.mediumButton:pressed {
    -fx-background-color: #b2744e;
}

.hardButton {
    -fx-background-color: #f38ba8;
}

.hardButton:pressed {
    -fx-background-color: #b75772;
}